*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.link{
    text-decoration: none;
    color: gray;

}
.logo{
    color: aliceblue;
}
.container{
    width: 80%;
    margin: 0 auto;

}
.website-navbar ul {
    display: flex;
    gap: 20px;


}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

}
.website-navbar ul li{
    list-style: none;
    padding: 8px 10px;
}
.navbar{
    background-color: rgb(4, 4, 43);
}
/* dashboard */
.dashboard{
padding: 20px 30px;
top: 0;
left: 0;
position: fixed;
background-color: rgb(4, 4, 43);
width: 250px;
height: 100vh;
transition: all 0.5s ease;
transform:translateX(-1000%) ;
}
.dashboard-menu{
padding: 40px 30px!important;
}
.dashboard-link {
    text-decoration: none;
    color: white;
font-size: 20px;
}
.dashboard-menu li{
    list-style: none;
    padding-top: 20px;
    
}

.icon{
    color: white;
    font-size: 20px;
    display: none;
}
.ActiveMobileMenu{
    transition: all 0.5s ease;
transform:translateX(0%) ;
}






























/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .website-navbar{
        display: none;
            }
     .icon{
        display: block;
     }       
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .website-navbar{
        display: none;
            }
            .icon{
                display: block;
             }  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .website-navbar{
display: none;
    }

    .icon{
        display: block;
     }  
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/*x-large devices (dekstops,1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/*Extra extra  large devices (larges desktops, 1200px and up)*/
@media (min-width: 1400px) {

}